/* HEADER */

header {
    background-color: white;
    color: #000044;
    margin: 0;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

header h1 {
    width: 250px;
    margin: 0;
    position: relative;
    left: 10%;
    top: 20px;
}

img {
    position: fixed;
    top: -10px;
    right: 10%;
    z-index: 0;
}

/* MAIN BODY */

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #000033;
    margin: 0;
    padding: 0;
}

h1 {
    width: 500px;
    margin: 20px auto;
    text-align: center;
}

p {
    width: 500px;
    margin: 0 auto;
}

ul {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 10px;
    width: 800px;
    list-style-type: circle;
    margin: auto;
}

li {
    margin: 10px 40px;
}

/* FOOTER */
footer {
    height: 60px;
    background-color: #000044;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: navy;
    background-color: white;
    border-radius: 3px;
}